delete_me/
.dropbox
.vscode
credentials
URLTotal.pdf
archive/
mail_handler/chardet/
mail_handler/idna/
mail_handler/include/
mail_handler/requests/
mail_handler/lib/
mail_handler/certifi/
*/urllib3/
screenshooter/selenium/
*pycache*
*dist-info
*.zip
*.pem
*.tar.gz
*.txt
pip-selfcheck.json
bin/
lib/